node_modules/

.vscode/
.idea/

*.code-workspace

.git/
.gitkeep
/.gitignore

coverage/
.nyc_output/

.mocharc.yml
.nycrc

test/

Dockerfile
makefile
jenkinsfile.gvy

/lint/
/report/
/.eslintignore
/.eslintrc.js
