node_modules/

test/

## Config
.git/
.gitkeep
.gitignore

.editorconfig

.npmrc
.eslint*

## CI
log/
lint/
build/

dist/.build

coverage/
.nyc_output/

.mocharc.yml
.nycrc

*.tgz

tsconfig.*.json
tsconfig.json

# CI
Jenkinsfile.gvy
Dockerfile
makefile

## IDE
*.code-workspace
.vscode/
.idea/

.nx/cache
.nx/workspace-data

## OS
.DS_Store
